{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        {% for column in columns %}
        <th class="col-1">{{ column }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.avg_score }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}